h1{
    color: rgb(36, 193, 204);
    text-align: center;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
    line-height: 140px;
    text-shadow: 12px 15px 10px rgb(58, 47, 66);
}

h1:hover{
    background-color: silver;
    color: black;

}

p{
    font-weight: bold;
    font-style: italic;

}

img{
    width: 320px; 
    height: 250px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 50px;
     

}

img:hover{
    transform: scale(1.1);
}