table{
    border-collapse: collapse;
    width: 400px;
    font-family: 'Times New Roman', Times, serif;
    
}

table, td, th{
      border: 10px solid black;
      border-collapse: collapse;
      padding: 20px;
      text-align: center;
      background-color: aqua;
      



}